.candidates
    background-color: $lets-talk-white
    height: 400px
    
.subtitle
    margin-left: auto
    margin-right: auto
    margin-top: 0px
    padding-top: 10px
    width: 80%

.presentation
    margin-left: auto
    margin-right: auto
    width: 80%
    border: 1px solid $lets-talk-grey
    border-radius: 5px

.presentation__header
    color: $logo
    text-align: center
    font-weight: bold
    margin-top: 0px
    padding-top: 10px
    width: 80%

.presentation__name
    @extend .presentation
    color: $logo
    text-align: center
    border: none

.presentation__text
    @extend .presentation
    color: $lets-talk-grey
    text-align: justify
    border: none
    height: 100px

.presentation__buttons
    @extend .presentation
    display: flex
    justify-content: space-around
    border: none
    margin-top: 15px

.button
    border: 1px solid $lets-talk-white
    border-radius: 5px
    padding: 10px
    color: $lets-talk-white
    background-color: $lets-talk-grey

.candidates__button
    border: 1px solid $lets-talk-grey
    border-radius: 5px
    padding: 10px
    color: $lets-talk-grey
    background-color: $lets-talk-green
    margin: 3px

.presentation__alert
    color: $logo
    text-align: center
    font-weight: bold

