.contacts
    background-color: $lets-talk-white
    min-height: 450px
    padding-bottom: 20px
        
    
// .contacts__container
//     display: flex
//     flex-flow: row wrap
//     background-color: $lets_talk_green

.contacts__section
    background-color: $lets-talk-white

.contact
    
    margin-left: auto
    margin-right: auto
    width: 80%
    border: 1px solid $lets-talk-grey
    border-radius: 5px
    margin-bottom: 20px
    text-align: center

.contact__button
    border: 1px solid $lets-talk-grey
    border-radius: 5px
    padding: 10px
    color: $lets-talk-grey
    background-color: $lets-talk-green
    margin: 3px
    margin-bottom: 10px

.contact__name
    @extend .contact
    color: $logo
    text-align: center
    border: none

    
.contact__img__container
    width: 200px
    height: 200px
    background: none
    overflow: hidden
    margin: auto
    padding-bottom: 20px
    

.contact__image
    width: 100%
    height: auto
    

@supports(object-fit: cover)
    .contact__image
        height: 100%
        object-fit: cover
        object-position: center center

@media (min-width: 768px)

    .contact
        width: 40%
         

@media (min-width: 1024px)

    .contact
        width: 30%
    
    
    
    