html, body {
  height: 100vh; }

body {
  margin: 0px; }

* {
  box-sizing: border-box; }

ul {
  margin: 0; }

.candidates {
  background-color: #EBEEF4;
  height: 400px; }

.subtitle {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-top: 10px;
  width: 80%; }

.presentation, .presentation__name, .presentation__text, .presentation__buttons, .messages__name, .message {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 1px solid #48484A;
  border-radius: 5px; }

.presentation__header {
  color: #EF5C92;
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
  padding-top: 10px;
  width: 80%; }

.presentation__name {
  color: #EF5C92;
  text-align: center;
  border: none; }

.presentation__text {
  color: #48484A;
  text-align: justify;
  border: none;
  height: 100px; }

.presentation__buttons {
  display: flex;
  justify-content: space-around;
  border: none;
  margin-top: 15px; }

.button {
  border: 1px solid #EBEEF4;
  border-radius: 5px;
  padding: 10px;
  color: #EBEEF4;
  background-color: #48484A; }

.candidates__button {
  border: 1px solid #48484A;
  border-radius: 5px;
  padding: 10px;
  color: #48484A;
  background-color: #BCED74;
  margin: 3px; }

.presentation__alert {
  color: #EF5C92;
  text-align: center;
  font-weight: bold; }

.contacts {
  background-color: #EBEEF4;
  min-height: 450px;
  padding-bottom: 20px; }

.contacts__section {
  background-color: #EBEEF4; }

.contact, .contact__name {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 1px solid #48484A;
  border-radius: 5px;
  margin-bottom: 20px; }

.contact__name {
  color: #EF5C92;
  text-align: center;
  border: none; }

.contact__img__container {
  width: 200px;
  height: 200px;
  background: none;
  overflow: hidden;
  margin: auto;
  padding-bottom: 20px; }

.contact__image {
  width: 100%;
  height: auto; }

@supports(object-fit: cover) {
  .contact__image {
    height: 100%;
    object-fit: cover;
    object-position: center center; } }
.messages__page {
  background-color: #EBEEF4;
  padding-bottom: 15px; }

.messages {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 1px solid #48484A;
  border-radius: 5px;
  overflow-y: scroll;
  height: 250px;
  margin-bottom: 10px;
  background-color: white; }

.messages__name {
  color: #EF5C92;
  text-align: center;
  border: none; }

.new-message {
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  pading-bottom: 10px; }

.new-message__text {
  width: 100%;
  height: 100px;
  border: none;
  border: 1px solid #48484A;
  border-radius: 5px;
  margin-bottom: 5px; }

.button_send {
  display: flex;
  justify-content: space-around; }

.message__button {
  border: 1px solid #48484A;
  border-radius: 5px;
  padding: 10px;
  color: #48484A;
  background-color: #BCED74;
  margin: 3px; }

.imgmini__container {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-around; }

.imgmini {
  width: auto;
  max-width: 100px;
  height: auto;
  max-height: 100px; }

.messages__head {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex; }

.messages__name {
  align-self: right;
  padding-left: 20px; }

.landing {
  background-color: #BCED74;
  text-align: center;
  color: #48484A;
  padding-bottom: 30px; }

.landing__subtitle {
  padding-top: 20px;
  margin-top: 0px; }

.landing__instructions {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 90%;
  height: 370px;
  border: 2px solid #48484A;
  border-radius: 10px; }

.login {
  background-color: #EBEEF4;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  color: #48484A;
  height: 460px; }

.login__section {
  border: 2px solid #48484A;
  border-radius: 10px;
  padding: 20px; }

.login__form {
  display: flex;
  flex-direction: column; }

.login__input {
  margin-bottom: 10px; }

.login__button {
  border: 1px solid #EBEEF4;
  border-radius: 5px;
  padding: 10px;
  color: #48484A;
  background-color: #BCED74; }

.photos {
  background-color: white;
  padding-top: 20px; }

.img_footer {
  text-align: center; }

.profile {
  background-color: #EBEEF4;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  color: #48484A;
  padding-bottom: 30px; }

.profile__input {
  margin-bottom: 10px; }

.profile__textarea {
  height: 150px; }

.profile__section {
  border: 2px solid #48484A;
  border-radius: 10px;
  padding: 20px; }

.profile__form {
  display: flex;
  flex-direction: column; }

.profile__button {
  border: 1px solid #EBEEF4;
  border-radius: 5px;
  padding: 10px;
  color: #48484A;
  background-color: #BCED74; }

.container-input {
  display: flex;
  flex-direction: column; }

.profile__img__container {
  width: 280px;
  height: 280px;
  background: none;
  overflow: hidden; }

.profile__image {
  width: 100%;
  height: auto; }

@supports(object-fit: cover) {
  .profile__image {
    height: 100%;
    object-fit: cover;
    object-position: center center; } }
footer {
  background-color: #48484A;
  color: #EBEEF4;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0px;
  border-top: 1px solid #EBEEF4; }

header {
  background-color: #48484A;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EBEEF4;
  padding: 10px;
  box-shadow: 10px 15px; }

h3 {
  color: #48484A; }

.error {
  color: red;
  font-weight: bold;
  text-align: center; }

.header__logo {
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

.header__alert {
  display: flex;
  justify-content: center;
  align-items: center; }

.fa-envelope {
  color: #EF5C92;
  font-size: 150%; }

.header__title {
  color: #EBEEF4; }

.fa-hand-holding-heart {
  color: #EF5C92;
  font-size: 300%; }

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 20px; }

.header__label {
  color: #EBEEF4;
  padding-bottom: 5px; }

.dropbtn {
  background-color: transparent;
  color: #EBEEF4;
  padding: 16px;
  font-size: 16px;
  border: 1px solid #EBEEF4;
  border-radius: 5px; }

.drop__button {
  width: 100px;
  border-radius: 5px;
  padding: 10px;
  color: #EBEEF4;
  background-color: #48484A; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  min-width: 160px;
  z-index: 1; }

.dropdown-content a {
  color: #EBEEF4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100px; }

.dropdown-content a:hover {
  background-color: #48484A; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  background-color: #48484A; }

.register {
  background-color: #EBEEF4;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  color: #48484A;
  padding-bottom: 30px; }

.register__input {
  margin-bottom: 10px; }

.regist__textarea {
  height: 150px; }

.register__section {
  border: 2px solid #48484A;
  border-radius: 10px;
  padding: 20px; }

.register__button {
  border: 1px solid #EBEEF4;
  border-radius: 5px;
  padding: 10px;
  color: #48484A;
  background-color: #BCED74; }

.message {
  color: #48484A;
  text-align: justify;
  border: none;
  max-width: 90%; }

.message__paragraph {
  text-align: justify;
  vertical-align: middle;
  display: table-cell; }

.message__name {
  font-weight: bold;
  color: #EF5C92; }

body {
  font-family: "Product Sans Regular", sans-serif;
  background-color: #48484A; }

/*# sourceMappingURL=styles.css.map */
